.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inputContainer {
  display: flex;
  border: 1px solid black;
  padding: 5px;
}
input {
  width: 15vw;
}
