@font-face {
  font-family: 'good';
  src: url('./assets/Good\ Vibes\ -\ Demo.ttf');
}
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #61628b18;
}
.shading {
  background-color: #61628b1a;
}
header,
footer {
  box-shadow: 0 0 5px black;
  width: 100vw;
  text-shadow: 0 0 5px black;
  color: white;
}
header {
  padding: 10px 0 7px 0;
  font-family: 'good';
  font-size: 2.3rem;
  letter-spacing: 0.7px;
  background-image: linear-gradient(#1b1d55, #61628b);
}
footer {
  padding: 5px;
  background-image: linear-gradient(#61628b, #1b1d55);
}
.inputContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  padding: 5px 2px;
  width: 98vw;
}
select {
  width: 23vw;
}

.eventsContainer {
  display: flex;
  justify-content: center;
  width: 98vw;
  padding: 5px 2px;
  border: 1px solid black;
  background-color: #61628b0e;
}
.dateAndAddEvent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 3px;
}
.fa-plus-circle,
.fa-minus-circle {
  font-size: 18px;
  color: #666aa1ab;
}

.fa-trash-alt,
.fa-pen {
  font-size: 18px;
}
.fa-ellipsis-v {
  font-size: 0.5rem;
  padding: 2px;
}
.fa-plus-circle:hover,
.fa-minus-circle:hover,
.fa-ellipsis-v:hover {
  color: #666aa163;
  cursor: pointer;
}
.week {
  margin: 0;
  padding: 0;
  font-size: 0.5rem;
  width: 13.5vw;
  min-height: 60vh;
  border: 1px solid black;
}
.displayedDays {
  text-shadow: 0 0 5px white;
}
.displayedDays:nth-child(1),
.displayedDays:nth-child(7) {
  background-color: #ecf0ff;
}
.displayedDays:nth-child(2),
.displayedDays:nth-child(3),
.displayedDays:nth-child(4),
.displayedDays:nth-child(5),
.displayedDays:nth-child(6) {
  background-color: white;
}
.daySelectorBar {
  background-color: #61628b9d;
  z-index: 1;
  margin-bottom: -1px;
}
.Calender {
  margin: 5px 0;
}
.eventSpace {
  min-height: 18px;
  display: flex;
  justify-content: flex-start;
}
.time {
  font-size: 0.1rem;
  text-shadow: 0 0 5px white;
}
.CreateEvent {
  background-color: white;
  box-shadow: 0 0 5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 270px;
  right: 28vw;
  left: 28vw;
  z-index: 2;
}
.TheDate {
  font-size: 0.3rem;
}
.event {
  padding: 2px;
}
.content {
  background-color: #dd00006b;
  border-radius: 5px;
}
.editOrDelete {
  display: flex;
  flex-direction: column;
  z-index: 3;
  position: fixed;
  padding: 5px;
  top: 270px;
  right: 35vw;
  left: 35vw;
  background-color: white;
  box-shadow: 0 0 1px #5555559a;
}
.selection {
  padding: 5px;
}
.edit,
.delete {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2px;
}
.edit {
  color: #000bacb6;
}
.delete {
  color: #ac0000b6;
}
.edit:hover {
  color: #000bac77;
  cursor: pointer;
}
.delete:hover {
  color: #ac000077;
  cursor: pointer;
}
.createEventInputs {
  width: 150px;
}
textarea {
  border-radius: 5px;
  width: 142px;
}
.timeCell {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 2px;
}
@media (min-width: 375px) {
  header {
    font-size: 3rem;
  }
  .week,
  .TheDate {
    font-size: 0.7rem;
  }
}
@media (min-width: 411px) {
  header {
    font-size: 3.5rem;
  }
}
@media (min-width: 760px) {
  header {
    font-size: 4rem;
  }
  .week,
  select,
  button,
  .TheDate {
    font-size: 1rem;
  }
}
@media (min-width: 1000px) {
  .week,
  select,
  button,
  .TheDate {
    font-size: 1rem;
  }
}
